form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

input, select, button {
    margin: 5px 0;
    padding: 5px;
}

button[name="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[name="answer"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}

h1 {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

center {
    margin-top: 50px;
}

select {
    padding: 5px;
}

input[type="number"] {
    padding: 5px;
}

input[type="text"] {
    padding: 5px;
}

#answer {
    margin-top: 10px;
    width: 80%;
}